video(
    width="100%"
    controls="controls"
    poster="https://mixkit.imgix.net/videos/preview/mixkit-air-travel-over-a-couple-of-expressways-39939-0.jpg?q=80&amp;auto=format%2Ccompress" 
    src=video.src
    type="video/mp4"
    loop
    autoplay
    ).video  
