video(
    width="100%"
    controls="controls"
    poster="https://mixkit.imgix.net/videos/preview/mixkit-air-travel-over-a-couple-of-expressways-39939-0.jpg?q=80&amp;auto=format%2Ccompress" 
    src="https://assets.mixkit.co/videos/preview/mixkit-air-travel-over-a-couple-of-expressways-39939-large.mp4"
    type="video/mp4"
    loop
    ).about-video  
